// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body{
    background-color: #FFE4E1;

    a, hr{
        color: #FF69B4;
    }

    .badge-pink{
        background-color: #DA70D6;
    }

    .btn-mint{
    background-color: #B0E0E6;
    }

    .btn-plum{
        background-color: #DDA0DD;
    }

    .title{
        color: #585142;
    }
}


